# /etc/init/flanneld.conf

description "flanneld - overlay network daemon."
author      "monokal <d@monokal.io>"

start on (local-filesystems and net-device-up and runlevel [2345])
stop on runlevel [016]

respawn
respawn limit 10 5

pre-start script
    # Binary path.
    FLANNEL=/usr/bin/$UPSTART_JOB

    # Source config.
    if [ -f /etc/default/$UPSTART_JOB ]; then
        . /etc/default/$UPSTART_JOB
    fi

    # Ensure binary exists.
    if [ -f $FLANNEL ]; then
        exit 0
    fi

    exit 22
end script

script
    # Modify options in /etc/default/flanneld
    FLANNEL=/usr/bin/$UPSTART_JOB
    FLANNEL_OPTS=""
    
    # Source config.
    if [ -f /etc/default/$UPSTART_JOB ]; then
        . /etc/default/$UPSTART_JOB
    fi
    
    # Start daemon.
    exec "$FLANNEL" $FLANNEL_OPTS
end script
